@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.projectComponent {
  background-color: whitesmoke;
  padding-bottom: 150px;
}

.project-title {
  padding-top: 200px;
}
.container-project {
  justify-content: center;

  align-items: center;
  width: 1200px;
  min-height: 100vh;
  margin: auto;
  border: rgb(223, 220, 220) 1px solid;

  padding: 50px 0px;
  h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    margin: auto;
  }

  .project1 {
    width: 1000px;
    min-height: 500px;
    margin: 30px auto;
    border-style: ridge;
    border-color: #567498;
    border-spacing: 10px;
    position: relative;
    background: rgb(141, 212, 230);
    &:after {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border: rgb(223, 220, 220) 1px solid;
      border-radius: 5px;
    }
    .img1 {
      margin: 20px 0px 0px 25px;
      width: 300px;
      height: 480px;
      border: 1px solid whitesmoke;
    }

    .img2 {
      margin: 0px 0px 20px 20px;
      width: 300px;
      height: 480px;
      border: 1px solid whitesmoke;
    }
    .img3 {
      margin: 20px 0px 0px 20px;
      width: 300px;
      height: 480px;
      border: 1px solid whitesmoke;
    }
  }
}

.title-pr1 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin: 5px 0px 5px 0px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

.des-pr1 {
  line-height: 1.6em;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
.project2 {
  width: 1000px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  margin-top: 100px;
  border-style: ridge;
  border-color: #567498;
  border-spacing: 10px;
  position: relative;
  background: rgb(141, 212, 230);
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: rgb(223, 220, 220) 1px solid;
    border-radius: 5px;
  }
  .img1 {
    margin: 20px 0px 0px 25px;
    width: 300px;
    height: 480px;
    border: 1px solid whitesmoke;
  }

  .img2 {
    margin: 20px 0px 20px 20px;
    width: 450px;
    height: 220px;
    border: 1px solid whitesmoke;
  }
  .img3 {
    margin: -230px 0px 0px 347px;
    width: 450px;
    height: 220px;
    border: 1px solid whitesmoke;
  }

  .img4 {
    top: 150px;
    left: 540px;
    position: absolute;
    width: 450px;
    height: 220px;
  }
}
