* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.skill-main {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
.main-card {
  height: 400px;
  width: 800px;
  background-color: #dcdde2;
  border-radius: 20px;

  box-shadow: #b7ced2 0px 3px 8px;
}

.skill-title {
  color: white;
  margin: 20px 0px 0px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.gr-bawah {
  margin-top: 10px;
  width: 760px;
  margin-left: 20px;
  border-bottom: 3px solid #f3bb5c;
}
.header-card {
  display: flex;
  .btn1-active {
    margin: 10px 0px 0px 20px;
    background-color: #f3bb5c;
    height: 30px;
    width: 200px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn1-null {
    margin: 10px 0px 0px 20px;
    font-family: "Rubik", sans-serif;
    height: 30px;
    width: 200px;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
  }
  .head1 {
    height: 10px;
    width: 10px;
    margin: 20px 0px 0px 285px;
    border-radius: 50px;
    background-color: red;
  }
  .head2 {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin: 20px 10px 0px 10px;
    background-color: #f3bb5c;
  }
  .head3 {
    height: 10px;
    width: 10px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: green;
  }
}

.cekck {
  width: 665px;
  margin-top: 5px;
  margin-left: 10px;
  height: 30px;
  background-color: whitesmoke;
  border: 2px solid #f3bb5c;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  .wari {
    margin-top: 4px;
    margin-left: 10px;
    justify-content: left;
  }
  p {
    width: 200px;
    margin-left: -15px;
    margin-top: 6px;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
  }
  div {
    width: 50px;
    margin-top: 5px;
    margin-left: 400px;

    display: flex;
    justify-content: center;
    svg {
    }
  }
}

.addre {
  display: flex;
  margin-top: 5px;
  .backar {
    margin-left: 20px;
    margin-top: 13px;
    cursor: pointer;
  }
  .backarr {
    margin-left: 10px;
    margin-top: 13px;
    cursor: pointer;
  }
}

.languages {
  display: flex;
  margin-top: 90px;
  justify-content: center;
  .lang {
    color: white;
    margin: 20px 0px 10px 20px;
    font-family: "Rubik", sans-serif;
  }
  .htm {
    width: 90px;
    height: 80px;
    overflow: hidden;
    margin-right: 60px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
    img {
      width: 100px;
      height: 100px;
      margin-top: -19px;
    }
  }
  .cs {
    width: 90px;
    height: 82px;
    transition: transform 0.2s;
    overflow: hidden;
    &:hover {
      transform: scale(1.2);
    }
    img {
      width: 70px;
      height: 100px;
      margin-top: -19px;
    }
  }
  .js {
    width: 165px;
    height: 90px;
    margin-top: -4px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .reac {
    width: 90px;
    height: 80px;
    margin-left: 15px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.strr {
  cursor: pointer;
}

.main-lang {
  h1 {
    color: white;
    margin: 10px 0px 0px 20px;
    font-family: "Rubik", sans-serif;
  }
}

.main-dev {
  h1 {
    color: white;
    margin: 10px 0px 0px 20px;
    font-family: "Rubik", sans-serif;
  }
}
.poto-dev {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  transition: transform 0.2s;

  img {
    transition: transform 0.2s;
    margin-right: 20px;
    margin-left: 20px;
    height: 80px;
    width: 80px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
